@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* default styles for small screens and anything not caught by media*/
body {
  background-color: rgba(83, 131, 233, 0.801);
  font-family:Arial, Helvetica, sans-serif;
  font-family: "Roboto", sans-serif;
}

  .logo {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 5px solid black;
    border-radius: 20%;
  }
  header {
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
  }

  h1 {
    display:inline;
    background-color: white;
  }

/*   p {
    margin-left: 25px;
  }
 */
/* .column {
  width: 100%;
}
 */
/* Styled for screen 600px wide and larger */
/* @media screen and (min-width: 600px) */
@media screen and (width > 600px) {
      body {
          background-color: palegreen;
      }
      main {
        display: flex;
        flex-direction: row;
      }

      header {
        flex-direction: row;
        justify-content: center;
        gap:20px;
      }
    

      /* Create three equal columns that float next to each other */
/*     .column {
      float: left;
      width: 33.33%;
    }

    /* Clear floats after the columns */
    /*.row:after {
      content: "";
      display: table;
      clear: both;
    } */
}

