/* default styles for small screens and anything not caught by media*/
body {
  background-color: rgba(83, 131, 233, 0.801);
}

.column {
  width: 100%;
}

/* Styled for screen 600px wide and larger */
/* @media screen and (min-width: 600px) */
@media screen and (width > 600px) {
      body {
          background-color: palegreen;
      }

      /* Create three equal columns that float next to each other */
    .column {
      float: left;
      width: 33.33%;
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
}

